/* ----- Variables ----- */
:root {
  --main-dark: #1f1f3d;
  --main-medium: #587a8a;
  --main-light: #f3f6f7;
  --main-font: #fff;
  --accent: #ffc30c;
  --urgent: #ef4a23;
  --card-background: #fafdff;
  --card-font: #3c6577;
  --card-border: #c7d3d8;
  --urgent-card-background: #ffe89d;
  --urgent-card-border: #ffc30c;
  --urgent-card-accent: #b23a25;
  --border-radius: 5px;
}

/* ----- Basic Setup ----- */
* {
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
}

body,
html {
  height: 100%;
  background-color: var(--main-light);
  outline: none;
  cursor: default;
}

.img {
  width: 20px;
  cursor: pointer;
}

/* ----- Header ----- */
.header-container {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--main-dark);
  color: var(--main-font);
  text-transform: uppercase;
}

.title-accent {
  color: var(--accent);
}

.search-wrapper {
  display: flex;
  padding: 20px;
}

.search-btn {
  background-color: var(--card-border);
  width: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  cursor: pointer;
}

.search-input {
  padding: 12px;
  border-radius: 0 5px 5px 0;
  outline: none;
}

/* ----- Main ----- */
.main-container {
  display: flex;
  width: 100%;
}

.form-container,
.display-container {
  min-height: 90vh;
}

.form-container {
  width: 30%;
  background-color: var(--main-medium);
}

.display-container {
  width: 70%;
  background-color: var(--main-light);
}

/* ----- Form ----- */
form,
.title-container,
.text-container {
  display: flex;
  flex-direction: column;
}

.title-container,
.text-container,
.btn {
  margin: 20px;
  cursor: pointer;
}

/* ----- Inputs ----- */
.title-container,
.text-container {
  color: var(--card-border);
}

.input {
  padding: 12px;
  width: 100%;
  border: 2px solid var(--main-dark);
  border-radius: var(--border-radius);
  outline: none;
}

.text-input {
  border-radius: 5px 0 0 5px;
}

.text-wrapper {
  display: flex;
  width: 100%;
}

/* ----- Buttons ----- */
.task-btn {
  background-color: var(--main-dark);
  color: var(--main-font);
  font-weight: 700;
  font-size: 120%;
  border: 0px;
  padding: 0 20px;
  border-radius: 0 5px 5px 0;
  outline: none;
  cursor: pointer;
}

.btn {
  padding: 15px;
  background-color: var(--main-dark);
  color: var(--main-font);
  font-weight: 700;
  font-size: 120%;
  border: 0px;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
}

.task-btn:hover,
.btn:hover {
  background-color: var(--accent);
  transition: background-color 1s;
}

.urgent-btn:hover {
  background-color: var(--urgent-card-accent);
  transition: background-color 1s;
}

/* ----- Create New Task Message ----- */
.message {
  font-size: 400%;
  text-align: center;
  color: var(--card-border)
}

/* ----- Task Card Container ----- */
.todo-container {
  column-count: 2;
  column-gap: 40px;
  box-sizing: border-box;
  width: 90%;
  margin: 40px auto;
}

.todo-wrapper {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 40px;
  background-color: var(--card-background);
  color: var(--main-dark);
  border: 2px solid var(--card-border);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.urgent {
  background-color: var(--urgent-card-background);
  border: 2px solid var(--urgent-card-border);
}

/* ----- Task Title ----- */
.task-card-title {
  margin: 0;
  padding: 10px;
  font-size: 120%;
  font-weight: 700;
  border-bottom: 1px solid var(--urgent);
}

/* ----- Task List ----- */
.tasks {
  padding: 10px;
}

.task {
  color: var(--main-font);
}

.task-todo {
  color: var(--main-dark);
}

.task,
.task-todo {
  display: flex;
  margin-left: 20px;
}

.checkbox-img,
.delete-img {
  margin-right: 20px;
  opacity: 0.5;
}

.checkbox-img:hover,
.delete-img:hover {
  opacity: 1;
  transition: opacity .5s;
}

/* ----- Task Card Footer ----- */
.task-card-footer {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-size: 50%;
  border-top: 1px solid var(--urgent);
}

.delete-img-wrapper,
.urgent-img-wrapper {
  text-align: center;
}

.urgent-text,
.delete-text,
.urgent-active-text {
  margin: 0;
}

.urgent-active-text {
  color: var(--urgent-card-accent);
}

/* ----- Dom ----- */
.hide {
  display: none;
}

.checked {
  font-style: italic;
  color: var(--urgent-card-border);
  text-decoration:
}

button:disabled {
  opacity: 0.5;
}
.closest {
  background-color: var(--card-border);
}
